PORT=4000
DATABASE_URL="postgresql://postgres:[YOUR_DB_PASSWORD]@[YOUR_DB_HOST]:5432/postgres"
DIRECT_URL="postgresql://postgres:[YOUR_DB_PASSWORD]@[YOUR_DB_HOST]:5432/postgres"
JWT_SECRET="[GENERATE_A_64_BYTE_HEX_SECRET]"
CLOUDINARY_CLOUD_NAME="[YOUR_CLOUDINARY_CLOUD_NAME]"
CLOUDINARY_API_KEY="[YOUR_CLOUDINARY_API_KEY]"
CLOUDINARY_API_SECRET="[YOUR_CLOUDINARY_API_SECRET]"
CLOUDINARY_URL="cloudinary://[YOUR_CLOUDINARY_API_KEY]:[YOUR_CLOUDINARY_API_SECRET]@[YOUR_CLOUDINARY_CLOUD_NAME]"
